# Don't include mentoring directories
users/

# Emacs and DrRacket artifacts
\#*
.\#*
*~

# Vi(m) artifacts
*.swp

# Exercism tool artifacts
*.json

# Lein artifacts
.lein-failures
.nrepl-port
.lein-repl-history
target/

# Gradle artifacts
build/
.gradle/

# Intellij artifacts
.idea/
